<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <%= form_with url: item_search_items_path, method: :get, class: "search-form", local: true do |f| %>
      <%= f.text_field :keyword, class: 'input-box', id: 'items_tag_name', placeholder: 'キーワードから探す' %>
      <%= f.button type: 'search', class: "search-button" do %>
        <%= image_tag "search.png", class:"search-icon" %>
      <% end %>
    <% end %>
  </div>

  <div class="search-result", id="search-result"></div>

  <div class='nav'>
    <ul class='lists-left'>
      <li>
        <%= search_form_for @p, url: items_product_search_path, class: "category-list" do |f| %>
          <%= f.label :category_eq, 'カテゴリー' %>
          <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: '指定なし' %>
          <%= f.submit '検索' %>
        <% end %>
      </li>
      <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
    </ul>
    <ul class='lists-right'>
    <% if user_signed_in? %>
      <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %> </li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_path, class: "sign-up" %></li>
    <% end %>
    </ul>
  </div>
</header>